body {
	background-color: powderblue;
}
#index {
	background-image: url('/images/background.JPG');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}
p {
	font-family: courier;
	font-size: 160%;
}
a {
	text-decoration: none;
}
#headings {
	text-align:center;
	font-family: garamond;
	font-size: 140%;
}
<!-- #s are for ids 
p.class is for class-->
