body {
	background-color: powderblue;
}
#index {
	background-image: url('/images/background.JPG');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	height:600px;
}
p {
	font-family: times;
	font-size: 160%;
}
a {
	text-decoration: none;
}
#headings {
	text-align: center;
	font-family: garamond;
	font-size: 140%;
}
#gallery {
	width: 800px;
	font-size: 150%;
	background-color: lavender;
	font-family: didot;
	padding: 10px;
	border: 5px solid lavender;
	margin: auto;
	display: inline-block;
	text-align: center;
}
img {
	height:220px;
}
#medias {
	height:50px;
}
#largesize {
	height:490px;
}
.slideshow {
	width: 800px;
	height:220px;
	display: flex;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	scroll-snap-type: x mandatory;
}
.slide {
	flex-shrink:0;
	scroll-behavior: smooth;
}
.slide > div {
	scroll-snap-align: start;
}
.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}
.row {
	position: absolute;
	right:0;
	bottom:0;
}
<!-- #s are for ids 
p.class is for class-->
