body {
	background-color: powderblue;
}
#index {
	background-image: url('/images/background.JPG');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}
p {
	font-family: times;
	font-size: 160%;
}
a {
	text-decoration: none;
}
#headings {
	text-align: center;
	font-family: garamond;
	font-size: 140%;
}
#gallery {
	width: 800px;
	font-size: 150%;
	background-color: lavender;
	font-family: didot;
	padding: 10px;
	border: 5px solid lavender;
	margin: auto;
	display: inline-block;
	text-align: center;
}
img {
	height:220px;
}
#medias {
	height:70px;
}
#largesize {
	height:490px;
}
<!-- #s are for ids 
p.class is for class-->
